/** @format */

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Lora", serif;
}

html {
  scroll-behavior: smooth;
}

.main {
  display: flex;
  flex-direction: column;
}

footer {
  padding: 5vh 10vw;
}

footer p {
  font-size: 1.2rem;
  text-align: center;
  font-weight: 700;
}

footer p a {
  text-decoration: underline;
  color: black;
}

@media only screen and (max-width: 480px) {
  footer p {
    font-size: 0.8rem;
  }
}
